@charset "utf-8";

html {
	font-size:1em
}

body {
	background:#FFF6E1;
	margin:0;
	padding:0;
	font-size:100%;
	font-family:"Aclonica", sans-serif;
	line-height:1;
}
a img, :link img, :visited img {
	border: 0;
}

img, object, embed, video {
	max-width: 100%;
	max-height: 100%;
	display:block;
	margin:auto;
}
.ie6 img {
	width:100%;
}
/*
.fluid {
	clear: both;
	margin: 0;
	width: 100%;
	float: left;
	display: block;
}
*/
/*.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;
}*/

/* Mobile Layout: 481px and below. */
  
.gridContainer {
	margin: 0 auto;
	width: 95%;
	max-width:768px; /*max before switching media queries. currently have no solution for IE8 media queries*/
	padding: 0;
	clear: none;
	float: none;
	
}
/*custom*/

nav, header, footer {
	min-width:460px;
}

section {
	min-width:400px;
}

nav {
	text-align:center;
	font-size:1.3em;
	font-weight:bold;
	line-height:1.8em;
	background-color:#FFE76B;
	color:red;
	
	-webkit-border-radius:0 0 40px 40px; /*no fix for IE8*/
	-moz-border-radius:0 0 40px 40px;
	border-radius:0 0 40px 40px;
	
	-webkit-background-clip: padding-box;
  	-moz-background-clip:    padding; 
  	background-clip:         padding-box;
	
}
#logo-wrapper {
	background-color:#D71300;
	padding-bottom:20px;
	
	-webkit-border-radius:40px;
	-moz-border-radius:40px;
	border-radius:40px;sS
	
	-webkit-background-clip: padding-box; 
  	-moz-background-clip:    padding; 
  	background-clip:         padding-box;
}
#logo-and-flag-wrapper {
	max-width:460px;
	margin:0 auto;
}
#logo {
	padding-top:20px;
	min-width:50%;
	min-height:auto;
	max-width:444px;
	max-height:420px;
	width:auto;
	height:auto;
}
#about a:link {
	color:gold;
	width:100px;
	height:52px;
	float:left;
	display:inline;
	padding: 0 20px;
	margin:25px 0 0 0;
	font-size:1.2em;
}
#flag-wrapper {
	width:360px;
	margin:0 auto;
}
#eritrea, #ethiopia {
	padding:0;
	border: 1px solid #FFF8CE;
	margin:0;
}
#eritrea {
	margin-left:auto;
	float:left;
}
#ethiopia {
	margin-right:auto;
	float:left;
	display:inline;
}
#contact {
	clear:both;
	font-weight:bold;
	font-size:1.3em;
	margin:0 auto;
	padding-bottom:10px;
}
header {
	margin-top:10px;
	padding-bottom:10px;
	line-height:1.8em;
	background-color:#AF1B1B;
	color:#FFCE00;
	text-align:center;
	overflow:hidden;
	
	-webkit-border-radius:40px;
	-moz-border-radius:40px;
	border-radius:40px;
	
	-webkit-background-clip: padding-box;
  	-moz-background-clip:    padding; 
  	background-clip:         padding-box;
}
/*
header h1 {
	font-size:4em;
	margin-top:10px;
	margin-bottom:0px;
	padding-top:20px;
	line-height:1.5em;
}*/
header h2 {
	margin-top:10px;
	margin-bottom:10px;
	padding:0;
}
section {
	padding-left:10%;
	padding-right:10%;
	-webkit-border-radius:40px;
	-moz-border-radius:40px;
	border-radius:40px;
	
	-webkit-background-clip: padding-box; 
  	-moz-background-clip:    padding; 
  	background-clip:         padding-box;
}
section h3 {
	margin-top:10px;
	margin-bottom:0px;
	padding-bottom:0px;
}
section h4 {
	color:#FFF6E1;
	font-size:20px;
}
.menu-main-title {
	text-align:center;
	line-height:2em;
	background-color:#FFE76B;
	font-size:1.5em;
	color:#AF1B1B;
	-webkit-border-radius:0 0 10px 10px;
	-moz-border-radius:0 0 10px 10px;
	border-radius:0 0 10px 10px;
	
	-webkit-background-clip: padding-box; 
  	-moz-background-clip:    padding; 
  	background-clip:         padding-box;
}
.links {
	display:inline;
}
.links a:link {
	font-size:.8em;
	margin:0 10px;
	color:red;
}
.links a:hover, .links a:active, #about a:hover, #about a:active{
	color:white;
	text-decoration:none;
}
#about a:visited {
	color:gold;
}
.links a:visited {
	color:red;
}
article.about-body {
	background-color:#AF1B1B;
	color:white;
	padding-left:10%;
	padding-right:10%;
	max-width:960px;
	-webkit-border-radius:40px;
	-moz-border-radius:40px;
	border-radius:40px;
	
	-webkit-background-clip: padding-box; 
  	-moz-background-clip:    padding; 
  	background-clip:         padding-box;
}
article.about-body a:link, .about-body a:visited {
	color:gold;
}
article.about-body a:active, .about-body a:hover {
	color:red;
}
article.about-body h2 {
	padding:40px 20px 10px 20px;
}
article.about-body p {
	padding:10px 40px 30px 50px;
}
section.ethiopian-menu {
	background-color: #52BD63;
}
section.american-menu {
	background-color:#6897CF;
}
section.drinks {
	background-color:gold;
}
section.drinks .item {
	width:200px;
}
article p {
	margin: 5px auto;
	padding-top: 5px;
	padding-left: 20px;
}
.item {
	width:80%;
	text-transform:uppercase;
	font-size:18px;
	font-weight:bold;
}
span {
	float: right;
	margin-top:-20px;
	margin-left:10px;
	margin-bottom:20px;
}


.drinks span {
	width:60px;
	padding-left:0.1%;
	text-align:right;
}
.drink-sizes span {
	padding-left:3%;
	margin:0;
}
footer {
	text-align: center;
	background-color: #AF1B1B;
	height: 1.9em;
	line-height: 1.9em;
	color: gold;	
	-webkit-border-radius: 40px 40px 0 0;
	-moz-border-radius: 40px 40px 0 0;
	border-radius: 40px 40px 0 0;
	
	-webkit-background-clip: padding-box; 
  	-moz-background-clip:    padding; 
  	background-clip:         padding-box;
}
/*
.zeroMargin_mobile {SS
margin-left: 0;
}
.hide_mobile {
display: none;
}

*/
@media only screen and (min-width: 769px) {
.gridContainer {
	width: 90%;
	padding-left: 3%;
	padding-right: 3%;
	clear: none;
	float: none;
	margin-left: auto;
}
section.drinks .item {
	width: 500px;
}
/*.zeroMargin_tablet {
margin-left: 0;
}
.hide_tablet {
display: none;
}*/
}
@media only screen and (min-width: 1200px) { /* Desktop Layout*/
.gridContainer {
	width: 100%;
	max-width: 1200px;
	padding-right:2%;
	padding-left: 2%;
	margin: 0 auto;
	clear: none;
	
}
nav {
	/*display:none;*/
}
header {
	width:100%;	
}
.menu-main-title {
	float:none;
	margin:0 auto;
	border-radius: 35px;
	width:300px;
	line-height:1.9em;
	padding-top:5px;
	padding-bottom:10px;
	margin-top:20px;
}
.links {
	/*display:none;*/
}
.american-menu {
	margin-left:15px;
	margin-right:15px;
}
section {
	float:left;
	width:350px;
	margin-top:10px;
	margin-bottom:10px;
	padding-left:20px;
	padding-right:20px;
	
}
article p {
	padding:0;
}
article.about-body {
	width:100%;
	padding:0 auto;
	margin-bottom:20px;
}
footer {
	clear:both;
}
.zeroMargin_desktop {
margin-left: 0;
}
/*
.hide_desktop {
display: none;
}*/
}
